/* Base styles for mobile */
body {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* header styles */

header img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 55px;
  font-size: 60px;
  color: #151515;
  text-transform: uppercase;
}

h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 45px;
  font-size: 50px;
  color: #151515;
  text-transform: uppercase;
}

#heading-2 {
  margin: 20px 0 15px 0;
}

p {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  iine-spacing: 28px;
  font-size: 18px;
}

#para-2 {
  margin: 20px 0 25px 0;
}

.grid-item img {
  width: 100%;
  height: auto;
}

/* footer styles */

footer {
  background-color: #151515;
  color: #fff;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  margin-top: 100px;
}

h4 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 24px;
  font-size: 24px;
  text-transform: uppercase;
}

#footer-paragraph {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  font-size: 16px;
}

.social-media-icons {
  margin: 20px 15px 20px 0;
}

.dark-grey {
  color: #444444;
  /* Other mobile footer styles */
}

/* button styles */
button {
  background-color: #151515;
  color: #fff;
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  text-transform: uppercase;
  height: 72px;
}

.animated-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Space between text and arrow */
  cursor: pointer;
  padding: 8px 16px;
  position: relative; /* Required for the arrow to be positioned correctly */
  padding: 0 90px 0 30px;
  margin: 10px 0 60px 0;
}

.animated-btn .arrow-bg {
  display: inline-block;
  background-color: #d5966c;
  position: absolute;
  right: 0;
  /* top: 30%; */
  height: 100%;
  width: 22%;
}

.animated-btn .arrow {
  display: inline-block;
  position: absolute;
  right: 9%;
  width: 10px;
}

.animated-btn:hover {
  background-color: #d5966c;
}
.animated-btn:hover .arrow-bg {
  background-color: #151515;
}

/* grid styles */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.header-grid {
}

.grid-item.with-margin {
  /* padding: 20px; */
  margin: 15px;
}

.dark-grid-item {
  background-color: #151515;
  color: #fff;
  margin: 0px;
  padding: 55px 30px 55px 30px;
}

.dark-grid-item h2 {
  color: #fff;
  margin: 0px;
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1439px) {
  .black-background,
  .white-background {
    display: none; /* Hides these dividers in tablet mode */
  }
  body {
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  header,
  main,
  footer {
    display: contents; /* Treats children as part of the parent grid */
  }

  /* Zigzag style adjustments */
  .header-grid,
  .gallery-grid,
  .footer-grid {
    display: contents; /* This will allow the contents of these containers to participate directly in the parent grid */
  }

  /* Example to force zigzag pattern */
  /* Assuming you want every second item to align differently */
  .grid-item:nth-child(odd) {
    justify-self: start;
  }

  .grid-item:nth-child(even) {
    justify-self: end;
  }

  /* Adjustments for specific items if needed */
  #item-1,
  #item-2,
  #item-3,
  #item-4,
  #item-5 {
    max-width: 100%;
  }

  /* Text and button adjustments for better handling on tablets */
  h1 {
    font-size: 48px;
    line-height: 50px;
    margin: 20px 0;
  }

  h2 {
    font-size: 40px;
    line-height: 42px;
  }

  p {
    font-size: 20px;
    line-height: 32px;
  }

  button,
  .animated-btn {
    font-size: 18px;
  }

  .animated-btn .arrow-bg {
    width: 25%;
  }

  footer {
    padding: 20px;
  }

  .footer-grid {
    display: contents; /* Ensures footer elements also align according to the parent grid */
  }
}

/* Desktop styles */
@media (min-width: 1439px) {
  /* header styles */
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* three-column layout */
    position: relative;
    column-gap: 0;
  }

  .black-background {
    background: #151515;
    background-color: #151515; /* Dark background for contrast */
    grid-column: 1; /* Positions this div in the first column */
    height: 100vh;
    z-index: 2;
  }

  .grid-item .header-image {
    grid-column: 2; /* Positions this div in the second column */
  }

  .grid-item img {
    height: 100vh;
  }

  /* Ensures the white background covers the third column */
  .white-background {
    background-color: #ffffff; /* Light background for contrast */
    grid-column: 3; /* Positions this div in the third column */
    height: 100vh;
  }

  /* Adjusting the text overlay */
  .text-overlay {
    position: absolute;
    top: 50%; /* Adjust this value to position the overlay vertically as needed */
    transform: translateY(-50%); /* Centers the overlay vertically */
    z-index: 2; /* Ensures it's above other content */
    color: #fff; /* Initial color, which mix-blend-mode may invert */
    display: flex;
    justify-content: space-between; /* Adjust text spacing */
  }

  h1 {
    font-size: 96px;
    line-height: 88px;
    padding-left: 17vw;
    padding-bottom: 49vh;
    width: 450px;
  }

  .text-mix-color {
    position: absolute;
    mix-blend-mode: difference; /* Inverts the text color */
    color: #ffffff;
    z-index: 3;
  }

  #para-1 {
    position: relative;
    padding-bottom: 21vh;
    left: 62vw;
    width: 26%;
  }

  /* gallery style (main) */

  p {
    font-size: 22px;
    line-height: 28px;
    iine-spacing: 32px;
  }

  h2 {
    font-size: 60px;
    line-height: 65px;
    iine-spacing: 50px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 200px 270px 10px 270px;
  }

  #item-1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-left: 10vw;
  }
  #item-1 img {
    max-width: 635px;
    max-height: 400px;
    object-fit: cover; /* Optional: this ensures the image covers the area, useful if the aspect ratio doesn't match */
  }

  #item-2 {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    width: 100%;
  }

  #item-2 h2 {
    padding: 50px 0 0 150px;
    margin: auto;
    max-width: 305px;
    max-height: 180px;
    min-width: 320px;
    min-height: 80px;
  }

  #item-2 p {
    padding: 20px 0 0 165px;
    margin: auto;
    max-width: 355px;
    max-height: 180px;
    min-width: 300px;
    min-height: 80px;
  }

  #item-3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  #item-3 img {
    height: 100%;
    width: 100%;
    max-width: 725px;
    object-fit: cover;
  }

  #item-4 {
    grid-row: 2;
    grid-column: 3;
    max-width: 552px;
  }
  #item-4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #item-5 {
    grid-row: 3;
    grid-column: 3;
    height: 40vh;
    min-height: 300px;
    padding: 0 0 100px 0;
  }

  #item-5 h2 {
    max-width: 522px; /* same width as item-4 img */
    padding: 55px 0px 0 50px;
    margin: 0 250px 0 0;
    min-width: 250px;
    font-size: 60px;
    line-spacing: 50px;
    line-height: 60px;
  }

  #item-5 p {
    padding: 0px 80px 0px 50px;
    /* width: auto; */
  }

  /* footer styles */

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* three-column layout */
    grid-gap: 20px;
    /* padding: 50px 150px 50px 150px; */
  }

  #footer-grid-item-heading {
    grid-column: 1;
    padding: 0 0 0 150px;
    width: auto;
  }

  #footer-grid-item-para {
    grid-column: 2;
    padding: 10px 30px 0 0;
    width: auto;
    min-width: 320px;
  }

  #footer-grid-item-social-media {
    grid-column: 3;
    padding: 10px 0px 0 250px;
    min-width: 120px;
  }
}
